p {
    font-size: 18px;
    letter-spacing: .75px;
}

a.button, button {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: 700 !important;
}

.header-section {
    background-image: url('../images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    position: relative;
}

.half-header.header-curbed {
    padding-top: 0;
}

.header-content {
    padding: 0;
}

.header-texts p {
    font-size: 22px;
}

.gradiant-background {
    background-color: #ffffff;
}

.about-section {
    padding: 9rem 0;
}

.about-section strong {
    color: #D0cD29;
}

.navbar-default .in .navbar-nav > li > a:after, .navbar-default .navbar-nav > li > a:after, .affix .navbar-default .navbar-nav > li > a:after  {
    background: #BCBB32;
}

.navbar-toggle {
    background-color: #BCBB32;
} 

.secondary-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.button {
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}

nav a.button:hover {
    background-color: #ffffff !important;
    border: 2px solid #D0cD29 !important;
    color: #D0cD29 !important;
}

nav .nav-item {
    color: #555 !important;
}

nav .container {
    padding-top: 0;
    padding-bottom: 0;
}

.navigation {
    padding: 14px 0 !important;
}

.footer-navigation a {
    color: #ffffff;
}

.term-section p {
    font-size: 14px;
}

.term-section figure {
    margin-bottom: 1.75rem;
}

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.steps-section {
    background-image: url('../images/stepbystep.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.marriage-steps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.step {
    padding: 2.75rem;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    border-radius: 8px;
}

.step p {
    font-size: 14px;
}

.navigation[data-spy="affix"] {
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.mobile-only {
    height: 350px;
}

.about-section {
    padding-top: 0;
}

@media only screen and (max-width: 991px) {
    .desktop-header {
        background-image: none;
        height: auto;
    }

    .header-texts {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .header-texts h1, .header-texts h2, .header-texts .button-transparent {
        color: #BCBB32;
    }

    .header-texts p {
        color: #555;
    }
}

@media only screen and (min-width: 992px) {
    .marriage-steps {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mobile-only {
        display: none;
    }

    .about-section {
        padding-top: 100px;
    }
}
